.elapsed-time
  margin: 5px

.elapsed-time .elapsed-time-label
  color: #ffffff8f
  font-size: 10px
  margin-top: 5px
  
.elapsed-time .data-points
  display: flex
  height: 10px
  margin-top: 1px

.elapsed-time .data-points .data-point
  background: #02bcd4
  width: 10px
  margin-right: 1px
  min-height: 1px